/* * { border: 1px solid red; } */
.test{
    /* width: 100vw;
    height: 100vh; */
    color: red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.deals {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 2px;
    font-weight: normal;
    padding-top: 6px;
    width: 60%;
}

.gameList {
    color: white;
    width: 60%;
}

.tabs {
    display: flex;
    justify-content: space-between;
}

.game img {
    width: 15%;
    height: auto;
}

.list {
    display: flex;
    flex-direction: column;
    background: linear-gradient( to bottom, rgba(42,71,94,1.0) 5%, rgba(42,71,94,0.0) 70%);
    padding-top: 10px;
}

.gutterCol {
    position: absolute;
    display: block;
    width: 15%;
    left: 25px;
    right: 0;
    top: 145.234px;
    bottom: 0;
    height: fit-content;
}

.gutterCol img {
    width: 85%;
    border-bottom: 1px solid #30678A;
}

.gutterHeader {
    color:#c6d4df;
    font-size: 11px;
}

.gutterContent {
    color:#66c0f4;
    font-size: 13px;
    line-height: 16px;
    margin: 7px 0;
}

.images{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: 33vh;
    box-shadow: 0 0 7px 0px #000;
    margin-top: 8px;
}

.images img {
    width: calc(100% / (3/2));
    /* max-height: 600px; */
    z-index: 1;
    box-shadow: 0 0 10px 5px #000;
    cursor: pointer;
}

.gameInfo {
    display: flex;
    flex-direction: column;
    background-color: #0F1922;
    width: calc(100% / 3);
}

.screenContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 14em;
    padding-top: 5%;
}

.screenContainer img {
    width: 45%;
    height: 6em;
    margin-right: 5%;
    box-shadow: none;
    opacity: 0.6;
}

.infoHeading {
    font-size: 24px;
    padding-top: 6px;
    padding-left: 16px;
    padding-right: 6px;
}

.infoPrice {
    margin-top: auto; /* May be temporary, based on what is in box */
    padding-left: 16px;
    padding-right: 6px;
    padding-bottom: 12px;
    font-size: 11px;
    color: #acdbf5;
}

.tabButton {
    font-size: 13px;
    line-height: 24px;
    padding: 0 10px;
    color: #4f94bc;
    cursor: pointer;
}

.tabButton--active {
    background: #2A475E;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-size: 14px;
    line-height: 29px;
    padding: 0 10px;
    color: #ffffff;
    cursor: default;
}
