.gameProfile {
    color: white;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 26px;
    line-height: 32px;
    text-overflow: ellipsis;
}

.gameProfile img {
    width: 40%;
    height: auto;
}