.gameProfile {
    margin: auto;
    color: white;
    display: flex;
    flex-direction: column;
    width: 75%;
}

.title {
    font-size: 26px;
    line-height: 32px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.imageProfile {
    display: flex;
    flex-direction: row;
    background: linear-gradient(to right, rgba(0,0,0,0) 50%,rgba(0,0,0,0.4) 100%);
    height: 25em; /*might have to change this*/
}

.gameSynopsis {
    font-size: 13px;
    color: #c6d4df;
    padding: 10px 10px 10px 0;
    box-sizing: border-box;
    flex:1;
    display:flex;
    flex-direction: column;
}

.imageProfile img {
    width: 60%;
    flex: 1;
    /* height: 33vh; */
}

.imageRightProf {
    padding-left: 16px;
    width: calc(40% - 16px);
    display: flex;
    flex-direction: column;
}

.imageRightProf img {
    width: 100%;
    height: 10em;
}

.gameDesc {
    /* margin-top: 10px; */
    position: relative; 
    width: 65%
   /*float: left; /* dont use float use flex*/
}

.buyContainer {
    background: linear-gradient( -60deg, rgba(226,244,255,0.3) 5%,rgba(84, 107, 115, 0.3) 95%);
    position: relative; 
    font-size: 21px;
    border-radius: 4px;
    padding: 16px;
    width: calc(100% - 32px); /* Width of container minus TOTAL padding */
}

.priceBox {
    background-color: black;
    font-size: 13px;
    padding-top: 8px;
    padding-left: 12px;
    padding-right: 12px;
    height: 24px;
}

.buyButton {
    background: linear-gradient( to right, #75b022 5%, #588a1b 95%);
    font-size: 13px;
    font-size: 13px;
    padding-top: 8px;
    padding-left: 12px;
    padding-right: 12px;
    height: 24px;
    border-radius: 2px;
}

.buyGame {
    position: absolute;
    padding-right: 20px;
    bottom: -16px;
    right: 16px;
    z-index: 1;
}

.blackBox {
    display: flex;
    background-color: black;
    padding: 2px 2px 2px 0px;
    border-radius: 2px;
}

.aboutDesc {
    padding-top: 16px;
    color: #acb2b8;
    font-size: 14px;
    line-height: 1.4em;
}

.aboutHeader {
    color: #FFFFFF;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: normal;
    text-transform: uppercase;
    border-bottom: 1px solid #30678A;
    /* padding-bottom: 10px; */
}
.insideLeftBox{
    color: #556772;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-size: 10px;
    /* margin-top: 10px; */
    /* justify-content: space-around; */

}

.leftText {
    font-size: 10px;
    margin-top: 10px;
}

.miscTagDesc {
    line-height: 19px;
    font-size: 12px;
    color: #556772;
}

.ratingColor{
    color: #66C0f4;
}
.insideBox{
    /* padding-top: 10px; */
    display: flex;
    /* justify-content: space-between; */
    flex:1;
}
.reviewRatingHolder{
    display: flex;
}
.insideRightBox{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-left: 10px;
}

.rightText {
    font-size: 12px;
    margin-top: 7px;
}

.genreHolder{
    display: flex;
    box-sizing: border-box;
    margin-top: 5px;
    /* padding: 0 7px; */
}
.genreBox{
    color: #67c1f5;
    background-color: #67C1F533;
    padding: 0 7px;
}
.genreBox:not(:first-child){
    margin-left: 5px;
}
.sysEles{
    display: flex;
}
.sysKey{
    color: #61686D;
}
.specHolder{
    display: flex;
    justify-content: space-between;
}
.titleAndImgHolder{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.GamesContentsWrapper{
    padding: 5px 0px;
}
.GamesContentsWrapper:first-child{ /* this and above creates 10 px spacing */
    margin-top:5px; 
}
.gameDescWrapper{
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
}
.statsBoxForGame{
    display: flex;
    flex-direction: column;
    padding: 16px;
}
.statsBoxForGame{
    /* background-color: #2e3a53; */
}
.propertyTitle{
    color: #556772;
}
.titleforRightBox{
    color: #c6d4df
}
.blueForRight{
color: #67C1F5;
}
.propertyWrapper{
    display: flex;
    flex-wrap: wrap;
}
.visitWeb{
    color: #67C1f5;
    background-color: #67c1f51a;
    padding: 4px 0 4px 8px;
    cursor: pointer;
}
.statsBoxWrapper{
    padding: 16px;
    /* background-color: #2e3a53; */
     background: rgba( 0, 0, 0, 0.2 );

}
.reviewContentWrapper{
    background-color: #16202d;
}
.reviewTop{
    display: flex;
    background-color: #121a24;
    /* width: 150%; */
}
.recSpace{
    margin-left: 10px;
    display: flex;
    align-items: center;
    font-size: 1.3em;
}
.dateWrapper{
    display: flex;
    color: #495766;
}
.reviewContentWrapper{
    padding-bottom: 5px;
    border-bottom: solid #2a3340 1px;
}
.reviewHelpfulButtons{
    display: flex;
}
.reviewHelpfulButtons> div{
    padding: 5px;
    color: #539ac4;
    background-color: #212c3d;
    border-radius: 0.2em;
}
.reviewHelpfulButtons> div:hover{
    cursor: pointer;
    background-color: #66bff3;
    color:white;
}
.reviewHelpfulButtons > div:not(:first-child){
    margin-left: 5px;
}
.helpful{
     display: flex;
    flex-direction: column;
}
.leftSideReview{
    display: flex;
}
.reviewHolder{
    display: flex;
    justify-content: space-between;
    /* align-items: ; */
    padding: 10px 5px 5px 15px;
    /* height: 15em; */
}
.userImgSize{
    width: 4em;
    height:4em;
    margin-right:10px;
}
.rightSideReview{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 50%; */
}
.reviewButtonHolder{
    height: 7em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contentHalf{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height:5em;
}
.reviewWriteHolder{
    background-color: #475260;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5em 2em;
}
.writeColor{
    color: #747e88;
    padding-bottom: .5em;
}
.reviewTitle{
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 3px;
    color: #66c0f4;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: 300;
    width: 100%;
    border-top: 1px solid #212c3d;
    padding-top: 10px;
}
.writeReviewText{
    background-color: #222b35;
    box-shadow: inset 0px 0px 7px rgba( 0, 0, 0, 0.5 );
    /* width: calc( 100% - 24px ); */
    width: 100%;
    height: 12em;
    color: white;
}
.textboxAndPicHolder{
    width: 100%;
}
.postButtoncss{
    text-shadow: 1px 1px 0px rgba( 255, 255, 255, 0.1 );
    padding: .5em 1em;
    height:3em;
    cursor: pointer;
    font-family: Arial, Helvetica;
    border-radius: 3px;
    font-size: 15px;
    color: #2B5066;
    background: linear-gradient( to bottom, rgba(193,228,249,1) 5%, rgba(148,183,202,1) 95%);
}
.flexender{
    display: flex;
    justify-content: flex-end;
}
.reviewWriteSpacer{
    padding-top: 2em;
}
.alreadyIn{
    padding: .5em 0;
    padding-left: .5em;
    font: 18px;
    width: calc( 100% - .5em); /* the minus part has to be what padding left is */
    color: rgb(163, 207, 6);
        background: linear-gradient(to right, rgba(163,207,6,0.6) 0%,rgba(75,106,33,0.6) 100%);
}